p.intro{
  width: 50%;
  font-style: italic;
  }

p.author{
  width: 75%;
  font-weight: bold;
}

.important{
  color: red;
}
 .unimportant{
   color: purple;
 }

 .practice{
   font-style: italic;
   color: teal;
 }

 .practice-one{
   font-family: cursive;
   color: lightgreen;
 }
.columns{
  width: 300px;
  float: left;
  padding-right: 10px;
}
.task-list{
  clear: left;
  float: left;
}
